# VCS
.git
.gitignore
rivet/.git
rivet/.git/**
**/.git
**/.git/**

# Dependencies
**/node_modules

# Build artifacts
**/dist
**/build
**/.turbo
**/.cache
**/.vite

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local runtime data
.data

# Python / misc caches
**/__pycache__
**/.DS_Store



# Editor/temp
.vscode
.idea
*.tmp
